<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center>- Pandas의 모든 것을 배우지 않습니다. 데이터 전처리에 대한 부분만 학습 대상이 됩니다 -</center>

# 학습 목표

- 특정 값, 특정 행, 특정 열의 데이터를 조회할 수 있습니다.
- 특정 조건을 만족하는 데이터를 조회할 수 있습니다.

# 4. 데이터프레임 조회

- 보고자 하는 데이터를 즉시 조회할 수 있도록 반복 학습과 실습을 통해 익숙해져야 합니다.
- 데이터프레임을 대상으로 조회하는 방법은 다양합니다.
- 각자가 편하다 느끼는 방법을 선택해 그것을 쓰면 됩니다.

In [ ]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

## 4.1. 데이터 불러오기

In [ ]:
# Titanic 데이터 불러오기
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic_simple.csv'
titanic = pd.read_csv(file_path, sep = ',', skipinitialspace = True)  
titanic.head()

In [ ]:
# Stock 데이터 불러오기
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/stock.csv'
stock = pd.read_csv(file_path, sep = ',', skipinitialspace = True)  

# Date 열을 인덱스 열로 지정
stock.set_index(['Date'], inplace = True)
stock.index.name = None
stock.head()

## 4.2. 이름으로 조회

- **.loc[[행이름], [열이름]]**을 사용해 조회할 수 있습니다.

In [ ]:
# 데이터프레임 확인
stock.head()

**1) 열 조회**

- **df.loc[:,['열이름']]** 형태로 조회하면 특정 열을 조회합니다.
- 행 부분을 생략할 수는 없습니다.

In [ ]:
# Close 열 조회
stock.loc[:,['Close']].head()

- **df[['열이름']]** 형태로도 많이 사용합니다. 
- 열 하나를 지정할 때는 **df['열이름']** 형태로 사용합니다.

In [ ]:
# Close 열 조회
stock['Close'].head()

In [ ]:
# Close 열 조회 --> 데이터프레임
stock[['Close']].head()

- 열 이름을 여럿 나열하여 여러 열을 조회할 수 있습니다.

In [ ]:
# Open, Close, Volume 열 조회
stock[['Open', 'Close', 'Volume']].head()

- 범위를 지정해 조회할 수 있습니다. 
- 범위 조회는 **df.loc[:,['열이름']]** 형태를 지켜야 합니다.
- 또한 **대괄호를 사용하면 안됩니다.**

In [ ]:
# Open, Close, Volume 열 조회
stock.loc[:, 'High':'Close'].head()

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

titanic 데이터프레임에 대해 열을 조회하는 아래 셀 내용욜 작성해 보세요.

In [ ]:
# 상위 5개 행 조회
titanic.head()

In [ ]:
# Name, Age, Pclass 열만 조회
titanic[['Name', 'Age', 'Pclass']]

In [ ]:
# Name, Age, Pclass 열만 Name 열을 기준으로 오름차순 정렬해서 조회
titanic[['Name', 'Age', 'Pclass']].sort_values(by='Name')

In [ ]:
# Survived, Pclass, Sex, Age 열만 갖는 titanic_test 데이터프레임 만들기
titanic_test = titanic[['Survived', 'Pclass', 'Sex', 'Age']]
titanic_test.head()

**2) 행 조회**


- **df.loc[[행이름]:,]** 형태로 조회하면 특정 행을 조회합니다.
- **df.loc[[행이름]]** 형태로 **열 부분을 생략**할 수 있습니다.

In [ ]:
# 데이터프레임 확인
stock.head()

In [ ]:
# Date가 '2015-01-02'인 행 조회 --> 데이터프레임
stock.loc[['2015-01-02'], :]

In [ ]:
# Date가 '2015-01-02', '2015-01-06', '2015-01-08'인 행 조회
stock.loc[['2015-01-02', '2015-01-06', '2015-01-08'], :]

- 범위 조회(범위 마지막 값도 조회 결과에 포함됨)

In [ ]:
# Date가 '2015-01-02' ~ '2015-01-08'인 행 조회
stock.loc['2015-01-02':'2015-01-08', :]

**3) 행, 열 조회**

- **df.loc[[행이름]:[열이름]]** 형태로 조회하면 특정 행의  특정 열을 조회합니다.

In [ ]:
# Date가 '2015-01-02'인 행의 Close 열
stock.loc[['2015-01-02'], ['Close']]

In [ ]:
# Date가 '2015-01-02' ~ '2015-01-08' 인 행의 Open ~ Close 열
stock.loc['2015-01-02':'2015-01-08', 'Open':'Close']

In [ ]:
# Date가 2015-01-02' ~ '2015-01-08'인 행의 Open, Close, Volume 열
stock.loc['2015-01-02':'2015-01-08', ['Open', 'Close', 'Volume']]

In [ ]:
# Date가 '2015-01-02','2015-01-08'인 행의 Open, Close, Volume 열 
stock.loc[['2015-01-02','2015-01-08'], ['Open', 'Close', 'Volume']]

In [ ]:
# Date가 '2019-01-01' 부터 모든 행의 Open, Close, Volume 열 
stock.loc['2019-01-01':, ['Open', 'Close', 'Volume']]

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

stock 데이터프레임에 대해 행을 조회하는 아래 셀 내용욜 수정하거나 작성해 보세요.

In [ ]:
# 2018년 데이터 만 조회(수정 필요)
stock.loc['2018']

In [ ]:
# 2019년 데이터만 갖는 stock_2019 데이터프레임 만들기
stock_2019 = stock.loc['2019-01-01':'2019-12-31']
stock_2019.head()

2019년 12월 High, Low, Open, Close 데이터만 갖는 **stock_201912** 데이터프레임을 만들어 보세요.

In [ ]:
stock_201912 = stock.loc['2019-12-01':'2019-12-31', ['High', 'Low', 'Open', 'Close']]
stock_201912

In [ ]:
# stock_201912 데이터프레임을 만든 후 다음 코드를 실행해 보세요.
stock_201912.plot()

In [ ]:
stock.head()

## 4.3. 위치로 조회

- **df.iloc[[행번호],[열번호]]** 형태로 사용해 조회할 수 있습니다.
- 행 번호, 열 번호를 지정하는 차이 외에는 .loc[]와 사용 방법이 같습니다.
- 범위 조회시 범위 마지막 값은 조회 결과에 포함되지 않습니다.

In [ ]:
# 데이터프레임 확인
stock.head()

In [ ]:
# 첫 번째 행 조회 --> 시리즈
stock.iloc[0]

In [ ]:
# 두 번째 행 조회 --> 시리즈
stock.iloc[1]

In [ ]:
# 두 번째 행 조회
stock.iloc[[1]]

In [ ]:
# 두 번째 열 조회
stock.iloc[:, [1]]

In [ ]:
# 첫 번쨰, 세 번쨰, 다섯 번째 행 조회
stock.iloc[[0, 2, 4]]

In [ ]:
# 첫 번째 ~ 세 번째 행 조회
stock.iloc[0:3]

In [ ]:
# 첫 번째 ~ 세 번째 열 조회
stock.iloc[:, 0:3]

In [ ]:
# 3의 배수인 행 조회
stock.iloc[::3]

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

다음 셀들을 실행하면서 그 의미를 확인해 보세요.

In [ ]:
stock.iloc[1, 1]

In [ ]:
stock.iloc[1, -1]

In [ ]:
stock.iloc[0:4, 0:3]

In [ ]:
stock.iloc[0:4, [0, 2, 4]]

In [ ]:
stock.iloc[::3, [0, 2, 4]]

In [ ]:
stock.iloc[-5:-1]

## 4.4. 조건으로 조회

- **df.loc[조건]** 형태로 조건을 지정해 조건에 만족하는 데이터만 조회할 수 있습니다.
- 우선 조건이 제대로 판단이 되는지 확인한 후 그 **조건을 대 괄호 안에** 넣으면 됩니다.

In [ ]:
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
graduate = pd.read_csv(file_path)

In [ ]:
# 데이터프레임 확인
graduate.head()

**1) 조건 확인**

In [ ]:
# 조건을 비교한 결과(True/False) 값으로 반환됨
graduate['gpa'] > 3.5

**2) 단일 조건을 반족하는 행 조회**

In [ ]:
# 조건을 비교한 결과 True 인 값 조회
graduate.loc[graduate['gpa'] > 3.5].head()

**3) 여러 조건을 만족하는 행 조회**

- [ ]안에 조건을 여러개 연결할 때 **and와 or 대신에 &와 |**를 사용해야 합니다.
- 그리고 각 조건들은 **(조건1) & (조건2)** 형태로 괄호로 묶어야 합니다.

In [ ]:
# and 조건으로 여러 조건 함께 조회
graduate.loc[(graduate['gpa'] > 3.0) & (graduate['rank'] == 3)].head()

In [ ]:
# or 조건으로 여러 조건 함께 조회
graduate.loc[(graduate['gpa'] > 3.0) | (graduate['rank'] == 3)].head()

**4) 편리한 isin(), between() 메소드**

- **isin([값1, 값2, 값3])**: 값1 또는 값2 또는 값3인 데이터만 조회합니다.

In [ ]:
# 여러 값을 한꺼번에 나열해서 비교
graduate.loc[graduate['rank'].isin([1, 2])].head()

In [ ]:
# 위 문장을 분리하면
graduate.loc[(graduate['rank'] == 1) | (graduate['rank'] == 2)].head()

- **between(값1, 값2)**: 값1 ~ 값2까지 범위안의 데이터만 조회합니다.

In [ ]:
# 어디부터 어디까지 범위를 한 번에 지정
graduate.loc[graduate['rank'].between(1, 3)].head()

In [ ]:
# 위 문장을 분리하면
graduate.loc[(graduate['rank'] >= 1) & (graduate['rank'] <= 3)].head()

**5) 조건을 만족하는 행의 일부 열 조회**

- **df.loc[조건, ['열']]** 형태로 열 하나, 또는 **df.loc[조건, ['열1', '열2']]** 형태로 여러 열을 조회합니다.

In [ ]:
# 조건에 맞는 하나의 열 조회
graduate.loc[graduate['gpa'] > 3.0, ['gre']].head()

In [ ]:
# 조건에 맞는 여러 열 조회
graduate.loc[graduate['gpa'] > 3.0, ['admit', 'gpa', 'gre']].head()

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

Close가 Low와 같은 행의 High, Low, Open, Close만 앞의 5행만 조회해 보세요.

In [ ]:
# Close와 Low가 같은 5개 행 조회
stock.loc[stock['Close'] == stock['Low'], ['High', 'Low', 'Open', 'Close']].head(5)

Close가 가장 큰 High, Low, Open, Close를 조회해 보세요.

In [ ]:
# Close가 가장 큰 행 조회
stock.loc[stock['Close'] == stock['Close'].max(), ['High', 'Low', 'Open', 'Close']]

**6) 문자열에 있는 특정 문자 검색**

- **contains()** 메소드를 사용해 문자열 포함 여부를 조건으로 지정할 수 있습니다.

In [ ]:
# 데이터프레임 확인
titanic.head()

In [ ]:
# 조건문 작성
titanic['Name'].str.contains('May')

In [ ]:
# 조건을 만족하는 행 찾기
titanic.loc[titanic['Name'].str.contains('May')]

## 4.5. 기본 집계

### 4.5.1. 고유값 확인

- 범주형 열(열이 가진 값이 일정한 값인 경우, 성별, 등급 등)인지 확인하는 대표적인 방법입니다.

In [ ]:
# Embarked 열 고유값 확인
titanic['Embarked'].unique()

In [ ]:
# Embarked 열 고유값 개수 확인, NaN 값 제외
titanic['Embarked'].value_counts()

In [ ]:
# Embarked 열 고유값 개수 확인, NaN값 포함
titanic['Embarked'].value_counts(dropna=False)

In [ ]:
# Pclass 열 고유값 개수 확인
titanic['Pclass'].value_counts(dropna=False)

### 4.5.2. 기본 통계 함수 사용

- 데이터를 1차 집계 한 후 분석을 진행하는 경우가 많으므로 필히 알라두어야 할 내용입니다.
- 이후에 배우는 Groupby 기능에서 같이 사용됩니다.

**1) 합, 평균값**

In [ ]:
# 모든 열 합계 조회
titanic.sum()

In [ ]:
# 모든 열 평균값 조회
titanic.mean()

In [ ]:
# Fare 열 합계 조회
titanic['Fare'].sum()

In [ ]:
# Age, Fare 열 평균값 확인
titanic[['Age', 'Fare']].mean()

**2) 최댓값, 최솟값**

In [ ]:
# 모든 열 최댓값 조회
titanic.max()

In [ ]:
# 모든 행 최솟값 조회
titanic.min()

In [ ]:
# Fare 열 최댓값 조회
titanic['Fare'].max()

In [ ]:
# Age, Fare 열 최솟값 조회
titanic[['Age', 'Fare']].min()

## <center>수고하셨습니다.</center>
<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/end.png' width=200/></center>