<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center>- Pandas의 모든 것을 배우지 않습니다. 데이터 전처리에 대한 부분만 학습 대상이 됩니다 -</center>

# 학습 목표

- 특정 값, 특정 행, 특정 열의 데이터를 변경할 수 있습니다.
- 특정 열을 삭제할 수 있습니다.
- 열 이름을 변경할 수 있습니다.

# 5. 데이터프레임 변경 - 1단계

- 데이터 전처리를 위해 꼭 익혀두어야 할 내용입니다.
- 반복 학습과 실습을 통해서 익숙해져야 합니다.

In [ ]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

## 5.1. 값 변경

**1) 기본 변경**

- 이전에 배운 방법으로 대상 데이터를 **찾아** 확인한 후 **변경**합니다.

In [ ]:
# 데이터프레임 만들기
dict = {'이름': ['홍길동', '한사랑', '일지매', '박여인'],
        '등급': ['Gold', 'Bronze', 'Silver', 'Gold'],
        '점수': [56000, 23000, 44000, 52000]}

df = pd.DataFrame(dict, index=['1번', '2번', '3번', '4번'])
df.head()

In [ ]:
# 점수 열에 10 곱하기
df['점수'] = df['점수'] * 10
df.head()

In [ ]:
# 이름 열 변경
df['이름'] = df['이름'] + '님' 
df.head()

In [ ]:
# 2번 이름을 '두사람님'으로 변경
df.loc['2번', ['이름']] = '두사랑님' 
df.head()

In [ ]:
# 1번 ~ 3번 점수를 모두 0으로 변경
df.loc['1번':'3번', ['점수']] = 0
df.head()

In [ ]:
# 1번 ~ 3번 점수를 각각 10000, 20000, 30000으로 변경
df.loc['1번':'3번', ['점수']] = [10000, 20000, 30000]
df.head()

In [ ]:
# 1번 ~ 3번 등급과 점수를 모두 NaN으로 변경
df.loc['1번':'3번', ['등급','점수']] = np.nan
df.head()

In [ ]:
# 1번 ~ 3번 모두 등급은 NaN, 점수는 0으로 변경
df.loc['1번':'3번', ['등급','점수']] = [np.nan, 0]
df.head()

In [ ]:
# 1번 ~ 3번 등급과 점수를 지정한 값으로 각각 변경
df.loc['1번':'3번', ['등급','점수']] = [['Gold', 56000], ['Bronze', 23000], ['Silver', 44000]]
df.head()

**2) map() 메소드 사용**

- **map()** 메소드를 사용하면 쉽게 범주형 데이터를 다른 값으로 변경을 할 수 있습니다.
- 단, **하나의 열에 대해서만 사용**할 수 있습니다.

In [ ]:
# 데이터프레임 만들기
dict = {'이름': ['홍길동', '한사랑', '일지매', '박여인'],
        '가입일': ['2019-01-15', '2019-05-01', '2020-01-15', '2020-02-12'],
        '등급': ['Gold', 'Bronze', 'Silver', 'Gold'],
        '점수': [56000, 23000, 44000, 52000]}

df = pd.DataFrame(dict, index=['1번', '2번', '3번', '4번'])
df.head()

- Gold → Diamond / Silver → Emerald / Bronze → Garnet

In [ ]:
# 경우에 따른 값 변경
df['등급'] = df['등급'].map({'Gold': 'Diamond', 'Silver': 'Emerald', 'Bronze': 'Garnet'})
df.head()

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

다음에 주어진 데이터프레임을 확인한 후 이어지는 셀을 완성해 보세요.

In [ ]:
# 데이터프레임 만들기
dict = {'이름': ['나처럼', '즐거운', '사람이', '누구요'],
        '1월': [45600, 20000, 46000, 50000],
        '2월': [56000, 23000, 44000, 45000],
        '3월': [52000, 33000, 39000, 49000],
        }

df_test = pd.DataFrame(dict, index=['C001', 'C002', 'C003', 'C004'])
df_test.head()

In [ ]:
# 1월 실적에서 5000씩 뺴기
df_test['1월'] = df_test['1월'] - 5000

# 확인
df_test.head()

In [ ]:
# C002 이름을 '행복한'으로 변경
df_test.loc['C002', ['이름']] = '행복한'

# 확인
df_test.head()

In [ ]:
# C001 3월 실적을 55000으로 변경
df_test.loc['C001', ['3월']] = 55000

# 확인
df_test.head()

## 5.2. 열 이름 변경

- 기존 데이터프레임의 열 이름을 적절히 변경해야 할 경우가 있습니다.
- 또는 집계 결과를 가진 열 이름을 이해하기 쉽게 변경해야 할 경우도 있습니다.

In [ ]:
# 데이터프레임 만들기
dict = {'이름': ['홍길동', '한사랑', '일지매', '박여인'],
        'Level': ['Gold', 'Bronze', 'Silver', 'Gold'],
        'Score': [56000, 23000, 44000, 52000]}

df = pd.DataFrame(dict, index=['1번', '2번', '3번', '4번'])
df.head()

**1) 모든 열 이름 변경**

- 모든 열 이름을 변경할 때는 **columns** 속성을 변경합니다.

In [ ]:
# 전체 변경
df.columns = ['이름', '등급', '점수']
df.head()

**2) 일부 열 이름 변경**

- **rename()** 함수를 사용해 변경 전후의 열 이름을 딕셔너리 형태로 나열하는 방법으로 변경합니다.

In [ ]:
# rename() 함수로 열 이름 변경 가능
df.rename(columns={'이름': 'Name', '등급': 'Level', '점수': 'Score'}, inplace=True)
df.head()

## 5.3. 열 추가

- 새로운 열을 추가하여 기존 데이터에서 계산된 결괏값을 저장해야할 경우가 있습니다.

In [ ]:
# 데이터프레임 만들기
dict = {'이름': ['홍길동', '한사랑', '일지매', '박여인'],
        '등급': ['Gold', 'Bronze', 'Silver', 'Gold'],
        '점수': [56000, 23000, 44000, 52000]}

df = pd.DataFrame(dict, index=['1번', '2번', '3번', '4번'])
df.head()

**1) 맨 뒤에 열 추가**

- **없는 열를 변경**하면 그 **열이 추가**됩니다.
- 맨 뒤 열로 추가되며, 원하는 위치에 열을 추가할 수는 없습니다.

In [ ]:
# 맨 뒤에 0으로 채워진 열 추가
df['포인트2'] = 0 
df.head()

**2) 지정한 위치에 열 추가**

- **insert()** 함수를 사용하면 원하는 위치에 열을 추가할 수 있습니다.
- **allow_duplicates** 옵션으로 같은 이름의 열이 있으면 추가할 지의 여부를 지정합니다.

In [ ]:
# 포인트2 열 앞에 0으로 채워진 새로운 열 추가
df.insert(3, '포인트1', 0, allow_duplicates=True)
df.head()

In [ ]:
# 추가된 열에 계산 값 넣기
df['포인트1'] = df['점수'] * 0.01
df['포인트2'] = df['포인트1'] * 0.1
df.head()

**3) 계산된 값을 갖는 열 추가**

- 열을 추가한 후 그 열에 계산 결과를 넣는 방법보다 더 간결한 방법입니다.

In [ ]:
# 계산된 값을 갖는 새로운 열을 맨 뒤에 추가
df['포인트3'] = df['포인트2'] * 0.1
df['최종점수'] = df['점수'] + df['포인트1'] + df['포인트2'] + df['포인트3']

# 정수 형으로 변환
df['최종점수'] = df['최종점수'].astype(int)
df.head()

## 5.4. 열 삭제

- 분석에 의미가 없는 열은 제거하여 데이터 크기를 줄이는 것이 좋습니다.
- 불필요한 데이터는 분석을 방해하는 요인이 됩니다.

In [ ]:
# 데이터프레임 만들기
dict = {'이름': ['홍길동', '한사랑', '일지매', '박여인'],
        '성별': ['남', '여', '남', '여'],
        '나이': [25, 27, 31, 26],
        '등급': ['Gold', 'Bronze', 'Silver', 'Gold'],
        '점수': [56000, 23000, 44000, 52000]}

df = pd.DataFrame(dict, index=['1번', '2번', '3번', '4번'])
df.head()

**1) 열 하나 삭제**

- **drop()** 메소드를 사용해 열을 삭제합니다.
- axis=0: 행 삭제(기본 값) 
- axis=1: 열 삭제

In [ ]:
# 열 하나 삭제
df.drop('성별', axis=1, inplace=True)
df.head()

**2) 여러 열 삭제**

In [ ]:
# 열 두 개 삭제
df.drop(['나이','등급'], axis=1, inplace=True)
df.head()

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

다음에 주어진 데이터프레임을 확인한 후 이어지는 셀을 완성해 보세요.

In [ ]:
# 데이터프레임 만들기
dict = {'이름': ['나처럼', '즐거운', '사람이', '누구요'],
        '나이': [32, 36, 28, 33],
        '1월': [45600, 20000, 46000, 50000],
        '2월': [56000, 23000, 44000, 45000],
        '3월': [52000, 33000, 39000, 49000],
        }

df_test = pd.DataFrame(dict, index=['C001', 'C002', 'C003', 'C004'])
df_test.head()

In [ ]:
# 열 이름을 'Name', 'Age', 'Jan', 'Feb', 'Mar' 로 변경
df_test.columns = ['Name', 'Age', 'Jan', 'Feb', 'Mar']

# 확인
df_test.head()

In [ ]:
# 0으로 채워진 Mean 열 추가
df_test['Mean'] = 0

# 확인
df_test.head()

In [ ]:
# NaN으로 채워진 Total 열 추가
df_test['Total'] = np.nan

# 확인
df_test.head()

In [ ]:
# Age 열 제거
df_test.drop('Age', axis=1, inplace=True)

# 확인
df_test.head()

In [ ]:
# Total 열에 Jan + Feb + Mar 계산 결과 저장
df_test['Total'] = df_test['Jan'] + df_test['Feb'] + df_test['Mar']

# 확인
df_test.head()

In [ ]:
# Mean 열에 평균 저장
df_test['Mean'] = df_test['Total'] / 3

# 확인
df_test.head()

In [ ]:
# Mean 열 데이터 형식을 정수로 변경
df_test['Mean'] = df_test['Mean'].astype(int)

# 확인
df_test.head()

## 5.5. 행 추가

In [ ]:
# 데이터프레임 만들기
dict = {'이름': ['홍길동', '한사랑', '일지매', '박여인'],
        '등급': ['Gold', 'Bronze', 'Silver', 'Gold'],
        '점수': [56000, 23000, 44000, 52000]}

df = pd.DataFrame(dict, index=['1번', '2번', '3번', '4번'])
df.head()

**1) 한 행 추가**

- 기존에 없는 인덱스 이름을 지정해 변경하면 새로운 행이 추가되는 결과가 됩니디.
- 없으면 추가하라! 열도 마찬가지임을 앞에서 살펴 봤습니다.

In [ ]:
df.loc['5번'] = ['강우동', 'Silver', 43000]
df.head(10)

**2) 데이터프레임을 추가**
- **append()** 함수 사용해 다른 데이터프레임을 행으로 추가할 수 있습니다.

In [ ]:
# 데이터프레임 만들기
dict = {'이름': ['한국인', '나도야'],
        '등급': ['Silver', 'Bronze'],
        '점수': [47000, 28000]}

df_new = pd.DataFrame(dict, index=['6번', '7번'])
df_new.head()

In [ ]:
# 기존 데이터프레임에 새로 만든 데이터프레임 추가
df = df.append(df_new)
df.head(10)

## 5.6. 행 삭제

In [ ]:
# 데이터프레임 만들기
dict = {'이름': ['홍길동', '한사랑', '일지매', '박여인'],
        '등급': ['Gold', 'Bronze', 'Silver', 'Gold'],
        '점수': [56000, 23000, 44000, 52000]}

df = pd.DataFrame(dict, index=['1번', '2번', '3번', '4번'])
df.head()

**1) 정수형 위치 인덱스로 삭제**

In [ ]:
df.drop(df.index[3], inplace=True)
df.head()

**2) 인덱스 이름으로 삭제**

- axis=0 옵션 생략 가능

In [ ]:
df.drop('3번', axis=0, inplace=True)
df.head()

**3) 조건 지정해 삭제**

- 삭제할 행의 인덱스 정보를 먼저 확인한 후 drop() 함수로 삭제합니다.

In [ ]:
del_idx = df[df['등급'] == 'Gold'].index
df.drop(del_idx, inplace=True)
df.head()

**4) 모든 행 삭제**

In [ ]:
# 아무것도 선택하지 않은 것을 다시 데이터프레임으로 지정
df = df.iloc[0:0]
df.head()

**5) 데이터프레임 완전 삭제**

- **del** 문으로 데이터프레임을 완전히 제거할 수 있습니다.

In [ ]:
del df

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

다음에 주어진 데이터프레임을 확인한 후 이어지는 셀을 완성해 보세요.

In [ ]:
# 데이터프레임 만들기
dict = {'이름': ['나처럼', '즐거운', '사람이', '누구요'],
        '나이': [32, 36, 28, 33],
        '1월': [45600, 20000, 46000, 50000],
        '2월': [56000, 23000, 44000, 45000],
        '3월': [52000, 33000, 39000, 49000],
        }

df_test = pd.DataFrame(dict, index=['C001', 'C002', 'C003', 'C004'])
df_test.head()

In [ ]:
# C005, '모두다', 20, 45000, 48000, 43000  추가
df_test.loc['C005'] = ['모두다', 20, 45000, 48000, 43000]

# 확인
df_test

In [ ]:
# C004 행 삭제
df_test.drop('C004', axis=0, inplace=True)

# 확인
df_test

In [ ]:
# C004, '어쩌면', 33, 50000, 45000, 49000  추가
df_test.loc['C004'] = ['어쩌면', 20, 45000, 48000, 43000]

# 확인
df_test

In [ ]:
# 인덱스 재정렬
df_test.sort_index(inplace=True)

# 확인
df_test

## <center>수고하셨습니다.</center>
<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/end.png' width=200/></center>