<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# 실습 목표

- CSV 파일에서 데이터를 일어올 수 있습니다.
- 다양한 속성와 메소드를 사용해서 데이터프레임 정보를 확인할 수 있습니다.
- 데이터를 정렬할 수 있습니다.

# P1. [실습] 데이터프레임 살펴보기

## [실습1] CSV 파일 불러오기, 데이터 살펴보기 - 1

In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

1) **read_csv()** 함수를 사용해 'Graduate_apply.csv' 파일을 읽어 데이터프레임 **graduate**를 만드세요.

- 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
- 대소문자를 구분하니 주의하세요.

In [2]:
# 파일 읽어오기
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
graduate = pd.read_csv(file_path, sep=',')
graduate.head(5)

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

2) graduate의 **shape**를 확인하여 행과 열의 개수를 확인하세요.

In [3]:
# shape 확인
graduate.shape

(400, 4)

3) **columns** 속성과 **types** 속성을 사용해 graduate의 열 이름과 각 열의 데이터 형식을 확인하세요.

In [0]:
# 열 이름 확인
graduate.columns

In [0]:
# 열 데이터 형식 확인
graduate.dtypes

4) **head()** 메소드와 **tail()** 메소드를 사용해 graduate의 데이터의 **첫 3행**의 데이터와 **마지막 3행**의 데이터를 출력하세요.

In [0]:
# 상위 3행 출력
graduate.head(3)

In [0]:
# 마지막 3행 출력
graduate.tail(3)

5) **describe()** 메소드를 사용해 graduate의 기초 통계 정보를 확인하세요.

In [0]:
# 기초 통계 정보 확인
graduate.describe()

6) **np.array()** 함수를 사용해 graduate의 데이터를 배열로 변환하여 출력하세요.

In [0]:
# 배열로 변환
n_array = np.array(graduate)
print(n_array)

7) **sort_values()** 메소드를 사용해 **gre** 열을 기준으로 **오름차순**으로 정렬하세요.

In [ ]:
# gre 열을기준 오름차순 정렬
graduate.sort_values(by='gre', ascending=True)

8) **rank** 열을 기준으로 **오름차순**, 같은 rank 열에 대해서는 **gpa** 열을 기준으로 **내림차순** 정렬하세요.

In [ ]:
# rank + gpa 열을기준 오름차순, 내림차순 정렬
graduate.sort_values(by=['rank', 'gpa'], ascending=[True, False])

## [실습2] CSV 파일 불러오기, 데이터 살펴보기 - 2

In [0]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

1) 'titanic_simple.csv' 파일을 불러와 데이터프레임 **titanic**을 만드세요.

- 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic_simple.csv'

In [0]:
# 파일 읽어오기
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic_simple.csv'
titanic = pd.read_csv(file_path, sep=',')
titanic.head()

2) titanic의 shape를 확인하세요.

In [0]:
# shape 확인
titanic.shape

3) titanic의 열 이름과 각 열의 데이터 형식을 확인하세요.

In [0]:
# 열 이름 확인
titanic.columns

In [0]:
# 열 데이터 형식 확인
titanic.dtypes

4) 상위 10개 행의 데이터를 조회하세요.

In [0]:
# 상위 10개 확인
titanic.head(10)

5) 기초 통계 정보를 확인하세요.

In [0]:
# 기초 통계 정보 확인
titanic.describe()

6) 가장 많은 운임(fare)을 내고 탄 사람은 누구인가요?

In [0]:
# Fare 열을 기준으로 내림차순 정렬해서 첫 행을 확인
titanic.sort_values(by='Fare', ascending=False)

## <center>수고하셨습니다</center>
<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/end.png' width=200/></center>