<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# 실습 목표

- CSV 파일에서 데이터를 읽어올 수 있습니다.
- 가변수(Dummy Variable)를 만들 수 있습니다.
- 열 이름을 바꿀 수 있습니다.
- 결측치 정보를 확인하고 제거하거나 다른 값으로 채울 수 있습니다.

# P3. 데이터프레임 변경

1) pandas, numpy 라이브러리를 불러오세요.

In [ ]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

2) 'titanic_simple.csv' 파일을 불러와 데이터프레임 **titanic**을 만드세요.

- 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic_simple.csv'

In [ ]:
# 파일 읽어오기
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic_simple.csv'
titanic = pd.read_csv(file_path, sep = ',')

# 확인
titanic.head()

3) **drop()** 메소드를 사용해 Name 열을 삭제하세요.

In [ ]:
# Name 열 삭제
titanic.drop('Name', axis=1, inplace=True)

# 확인
titanic.head()

4) **pd.get_dummies()** 함수로 Pclass 열의 Dummy Variable을 pclass_Dummy 데이터프레임으로 선언하세요.

In [ ]:
# Dummy Variable 만들기
pclass_Dummy = pd.get_dummies(titanic['Pclass'])

# 확인
titanic_pclass.head()

5) pclass_Dummy 데이터프레임을 **pd.concat()** 함수를 사용해 titanic 데이터프레임에 붙이세요.

In [ ]:
# 기존 데이터프레임에 붙이기
titanic = pd.concat([titanic, pclass_Dummy], axis=1)

# 확인
titanic.head()

6) 의미가 없어진 Pclass 열을 제거하세요.

In [ ]:
# pClass 열 제거
titanic.drop('Pclass', axis=1, inplace=True)

# 확인
titanic.head()

6) **rename()** 메소드를 사용해 Dummy Variable로 추가한 열 이름을 Pclass_1, Pclass_2, Pclass_3 로 바꾸세요.

In [ ]:
# 열 이름 변경
titanic.rename(columns = {1:'Pclass_1', 2: 'Pclass_2', 3: 'Pclass_3'}, inplace=True)

# 확인
titanic.head()

7) **value_counts()** 메소드를 사용해 Age 열에 NaN 값을 포함해서 어떤 값이 몇 개씩 있는지 확인하세요.

In [ ]:
# Age 열 값 개수 확인
titanic['Age'].value_counts(dropna=False)

8) **dropna()** 메소드로 Age 열이 NaN인 행은 삭제한 후 위 7)번 코드를 수행해 NaN값이 없어짐을 확인하세요.

In [ ]:
# Age 열 값이 NaN인 행 삭제
titanic.dropna(subset=['Age'],  inplace=True)

9) **info()** 메소드를 사용해 아직도 NaN 값이 있는 열이 있는지 확인하세요.

In [ ]:
# 행 정보 확인
titanic.info()

10) **fillna()** 메소드를 사용해 Embarked 열의 NaN 값은 Southhampton로 채우세요.

In [ ]:
# NaN 값 채우기
titanic['Embarked'].fillna('Southhampton', inplace=True)

11) **value_counts()** 메소드를 사용해서 Embarked 열에 NaN 값이 있는지 확인하세요.

In [ ]:
# 확인
titanic['Embarked'].value_counts(dropna=False)

## <center>수고하셨습니다.</center>
<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/end.png' width=200/></center>