<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# 실습 목표

- 데이터를 집계할 수 있습니다.
- 열 이름을 바꿀 수 있습니다.
- 데이터프레임을 연결할 수 있습니다.

# P4. [실습] 데이터프레임 집계

In [ ]:
# 라이브러리와 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# 파일 읽어오기
graduate_file = 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
titanic_file = 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic_simple.csv'

graduate = pd.read_csv(graduate_file, sep = ',') 
titanic = pd.read_csv(titanic_file, sep = ',')

## graduate 데이터프레임 사용

1) **groupby()** 메소드를 사용해 rank, admit 별 gre의 최댓값을 집계해서 **df_max** 데이터프레임을 만드세요.

In [ ]:
# rank, admit 별 gre의 최댓값
df_max = graduate.groupby(by=['rank', 'admit'], as_index=False)['gre'].max()

# 확인
df_max.head()

2) **rename()** 메소드를 사용해 df_max 데이터프레임의 gre 열 이름을 gre_max로 변경하세요.

In [ ]:
# df_max 열 이름 변경: gre --> gre_max
df_max.rename(columns={'gre':'gre_max'}, inplace=True)

# 확인
df_max.head()

3) rank, admit 별 gre의 최솟값을 집계해서 **df_min** 데이터프레임을 만드세요.

In [ ]:
# rank, admit 별 gre의 최솟값
df_min = graduate.groupby(by=['rank', 'admit'], as_index=False)['gre'].min()

# 확인
df_min.head()

4) df_min 데이터프레임의 gre 열 이름을열 이름을 gre_min으로 변경하세요.

In [ ]:
# df_max 열 이름 변경: gre --> gre_min
df_min.rename(columns={'gre':'gre_min'}, inplace=True)

# 확인
df_min.head()

5) **concat()** 함수를 사용해 df_max, df_min 데이터프레임을 붙여 **df_graduate** 데이터프레임을 만드세요.

- 단, rank, admit, gre_max, gre_min을 갖는 데이터프레임이 되게 하세요.

In [ ]:
# 데이터프레임 연결
df_graduate = pd.concat([df_max, df_min['gre_min']], axis=1)

# 확인
df_graduate.head()

6) gre_max에서 gre_min을 뺀 결괏값을 df_graduate 데이터프레임에 **gre_range** 열로 추가하세요.

In [ ]:
# gre_range 열 추가
df_graduate['gre_range'] = df_graduate['gre_max'] - df_graduate['gre_min']

# 확인
df_graduate.head()

## titanic 데이터프레임 사용

7) 탑승지역(Embarked)별, 성별별, 평균 나이를 조회하세요.

In [ ]:
# 탑승지역별, 성별별, 평균 나이
titanic.groupby(by=['Embarked', 'Sex'], as_index=False)['Age'].mean()

8) 객실등급별, 탑승지역별, 승객 수를 조회하세요.

In [ ]:
# 객실등급별, 탑승지역별, 승객 수
titanic.groupby(by=['Pclass', 'Embarked'], as_index=False)['PassengerId'].count()

## <center>수고하셨습니다.</center>
<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/end.png' width=200/></center>