<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# 실습 목표

- 데이터를 집계할 수 있습니다.
- 열 이름을 바꿀 수 있습니다.
- 데이터프레임을 조인할 수 있습니다.

# P5. [실습] 데이터프레임 조인

In [ ]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# 파일 불러오기
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
graduate = pd.read_csv(file_path, sep = ',', skipinitialspace = True) 

file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic_simple.csv'
titanic = pd.read_csv(file_path, sep = ',', skipinitialspace = True)

## graduate 데이터프레임 사용

1) **groupby()** 메소드를 사용해 rank 별 gre, gpa 최댓값을 집계해서 **df_max** 데이터프레임을 만드세요.

In [ ]:
# 집계
df_max = graduate.groupby(by='rank', as_index=False)[['gre','gpa']].max()

# 확인
df_max.head()

2) **rename()** 메소드를 사용해 df_max 데이터프레임의 열 gre, gpa를 각각 gre_max, gpa_max로 변경하세요.

In [ ]:
# 열 이름 변경
df_max.rename(columns={'gre':'gre_max', 'gpa':'gpa_max'}, inplace=True)

# 확인
df_max.head()

3) rank 별 gre, gpa 최솟값을 집계해서 **df_min** 데이터프레임을 만드세요.

In [ ]:
# 집계
df_min = graduate.groupby(by='rank', as_index=False)[['gre','gpa']].min()

# 확인
df_min.head()

4) df_min 데이터프레임의 열 gre, gpa를 각각 gre_min, gpa_min로 변경하세요.

In [ ]:
# 열 이름 변경
df_min.rename(columns = {'gre':'gre_min', 'gpa':'gpa_min'},inplace=True)

# 확인
df_min.head()

5) **merge()** 함수를 사용해 df_max, df_min 데이터프레임을 inner 조인한 결과를 갖는 **df_graduate** 데이터프레임을 만드세요.

In [ ]:
# 조인
df_graduate = pd.merge(df_max, df_min, on='rank', how='inner')

#확인
df_graduate.head()

## titanic 데이터프레임 사용

4) 탑승지역, 성별 별 평균 나이, 최소 나이, 최대 나이를 갖는 데이터프레임을 각각 만들고 조회하세요.

- 데이터프레임 이름은 df_mean, df_max, df_min이 되게 하세요.

In [ ]:
# df_mean 만들기
df_mean = titanic.groupby(by=['Embarked', 'Sex'], as_index=False)['Age'].mean()

# 확인
df_mean.head()

In [ ]:
# df_max 만들기
df_max = titanic.groupby(by=['Embarked', 'Sex'], as_index=False)['Age'].max()

# 확인
df_max.head()

In [ ]:
# df_min 만들기
df_min = titanic.groupby(by=['Embarked', 'Sex'], as_index=False)['Age'].min()

# 확인
df_min.head()

5) df_mean, df_max, df_min 데이터프레임의 Age 열 이름을 각각 age_mean, age_max, age_min으로 바꾸세요.

In [ ]:
# df_mean 열 이름 변경: Age --> Age_mean
df_mean.rename(columns={'Age':'Age_mean'}, inplace=True)

# 확인
df_mean.head()

In [ ]:
# df_max 열 이름 변경: Age --> Age_max
df_max.rename(columns={'Age':'Age_max'}, inplace=True)

# 확인
df_max.head()

In [ ]:
# df_min 열 이름 변경: Age --> Age_min
df_min.rename(columns={'Age':'Age_min'}, inplace=True)

# 확인
df_min.head()

6) df_mean, df_max, df_min 데이터프레임을 조인해서 **df_titanic** 데이터프레임을 만드세요.

In [ ]:
# 조인
df_titanic = pd.merge(pd.merge(df_mean, df_max), df_min)

# 확인
df_titanic.head(10)

## <center>수고하셨습니다.</center>
<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/end.png' width=200/></center>