In [4]:
# 리스트 만들기
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
a = list(range(11))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
a[5]

5

In [11]:
a = list('PYTHON')
a

['P', 'Y', 'T', 'H', 'O', 'N']

In [12]:
date = '2020-05-20'
a = date.split('-')
a

['2020', '05', '20']

In [13]:
a[1]

'05'

In [14]:
type(range(10))

range

In [27]:
# split, slicing
date = '2020년 05월'
year = date.split(' ')[0][:4] #2020
month = date.split(' ')[1][:2] #05
print(year, month)

2020 05

In [28]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
b = []
for x in a:
    if x % 2 == 0:
        b.append(x)
b

[0, 2, 4, 6, 8]

In [39]:
# 중요!!!!!!!!!!!
b = [x for x in a if x % 2 == 0]
b

[0, 2, 4, 6, 8]

In [40]:
sum(b)

20

In [44]:
sum(b) / len(b)

4.0

In [47]:
a = 123
b = 456
print('a =', a)
print('b =', b)

a = 123
b = 456

In [51]:
# Dictionary
d = {'길동': 90, '지매': 80, '사랑': 85}
d['사랑']

85

In [54]:
# 집합
s1 = [1,2,3,4,5,6]
s2 = [3,4,5,6,7,8]
# s1과 s2에 공통으로 존재하는 요소
s3 = list(set(s1) & set(s2)) 
s3

[3, 4, 5, 6]

In [55]:
a = 123
b = 456
print(a, b)

123 456

In [56]:
# 튜플은 값이 변하지 않음
(a, b) = (123, 456)
print(a, b)

123 456

In [57]:
# 튜플은 괄호가 없어도 됨
a, b = 123, 456
print(a, b)

123 456

In [58]:
a, b = 123, 456
a, b = b, a
print(a, b)

456 123

In [59]:
t = (1, 2, 3)
t

(1, 2, 3)

In [61]:
t = (10, 20, 30)
t

(10, 20, 30)

In [62]:
# tuple은 요소를 바꿀수 없음
t[0] = 100

TypeError: 'tuple' object does not support item assignment