<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center>- Pandas의 모든 것을 배우지 않습니다. 데이터 전처리에 대한 부분만 학습 대상이 됩니다 -</center>

# 학습 목표

- 다양한 조인 방법을 이해합니다.
- 두 데이터프레임 사이의 조인을 수행할 수 있습니다.

# 8. 데이터프레임 조인

- 두 데이터프레임을 지정한 키 값을 기준으로 병합할 수 있습니다.
- **join()** 메소드도 있지만 더 많은 옵션을 가진 **merge()** 함수를 사용합니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/join.png' width=600, align="left"/>

In [1]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# 파일 읽어오기
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
graduate = pd.read_csv(file_path, sep=',', skipinitialspace=True)  
graduate.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

## 8.1. 한 개의 열을 기준으로 조인

In [3]:
# rank별 gre, gpa 평균 구하기
gr_mean = graduate.groupby(by='rank', as_index=False)[['gre', 'gpa']].mean()
gr_mean.rename(columns={'gre':'gre_mean', 'gpa':'gpa_mean'}, inplace=True)

# 확인
gr_mean

   rank    gre_mean  gpa_mean
0     1  611.803279  3.453115
1     2  596.026490  3.361656
2     3  574.876033  3.432893
3     4  570.149254  3.318358

In [4]:
# rank별 count 구하기
gr_count = graduate.groupby(by='rank', as_index=False)['gre'].count()
gr_count.rename(columns={'gre':'count'}, inplace=True)

# 확인
gr_count

   rank  count
0     1     61
1     2    151
2     3    121
3     4     67

- **on='rank'** 형태로 조인 기준이 되는 열을 지정합니다.

In [5]:
# 하나의 열을 기준으로 조인
graduate_new = pd.merge(gr_mean, gr_count, on='rank', how='inner') 

# 확인
graduate_new

   rank    gre_mean  gpa_mean  count
0     1  611.803279  3.453115     61
1     2  596.026490  3.361656    151
2     3  574.876033  3.432893    121
3     4  570.149254  3.318358     67

## 8.2. 여려 열을 기준으로 조인

In [6]:
# rank, admit별 gre, gpa 평균 구하기
gr_mean = graduate.groupby(by=['rank', 'admit'], as_index=False)[['gre', 'gpa']].mean()
gr_mean.rename(columns={'gre':'gre_mean', 'gpa':'gpa_mean'}, inplace=True)

# 확인
gr_mean

   rank  admit    gre_mean  gpa_mean
0     1      0  582.857143  3.345714
1     1      1  636.363636  3.544242
2     2      0  586.597938  3.316598
3     2      1  612.962963  3.442593
4     3      0  562.365591  3.402258
5     3      1  616.428571  3.534643
6     4      0  562.909091  3.291455
7     4      1  603.333333  3.441667

In [7]:
# rank, admit별 gre 갯수 구하기
gr_count = graduate.groupby(by=['rank','admit'], as_index=False)['gre'].count()
gr_count.rename(columns={'gre':'count'}, inplace=True)

# 확인
gr_count

   rank  admit  count
0     1      0     28
1     1      1     33
2     2      0     97
3     2      1     54
4     3      0     93
5     3      1     28
6     4      0     55
7     4      1     12

- **on=['rank', 'admit']** 형태로 조인 기준이 되는 열을 지정합니다.

In [8]:
# 여러 열을 기준으로 조인
graduate_new = pd.merge(gr_mean, gr_count, how='inner', on=['rank','admit'])

# 확인
graduate_new

   rank  admit    gre_mean  gpa_mean  count
0     1      0  582.857143  3.345714     28
1     1      1  636.363636  3.544242     33
2     2      0  586.597938  3.316598     97
3     2      1  612.962963  3.442593     54
4     3      0  562.365591  3.402258     93
5     3      1  616.428571  3.534643     28
6     4      0  562.909091  3.291455     55
7     4      1  603.333333  3.441667     12

## <center>수고하셨습니다.</center>
<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/end.png' width=200/></center>