<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/practice.png' width=300/></center>

# CP2. [실습] 데이터 전처리와 시각화: 타이타닉

- 본 실습은 간단한 데이터 시각화 방법을 직접 체험하기 위한 것입니다.
- 특히 결측치 확인과 처리, 데이터 집계를 다양하게 수행해 봄을 목표로 합니다.
- 손쉽게 자동으로 집계해서 시각화 하는 방법이 있지만 사용하지 않기로 합니다.
- 우선 다음과 같은 과정으로 데이터 시각화를 수행함으로 알고 진행하기 바랍니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/visualization.png' width="650" align="left">

In [ ]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1. 데이터 불러오기

- **read_csv()** 함수를 사용해 분석할 데이터를 csv 파일에서 불러옵니다.
- titanic 데이터 셋은 타이타닉호 사망자와 생존자에 대한 정보입니다.
- titanic_simple 버전이 아닌 정식 titanic 데이터 셋을 사용합니다.
- 파일 경로: 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic.csv'

In [ ]:
# titanic
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/titanic.csv'
titanic = pd.read_csv(file_path)

## 2. 데이터 확인

- 데이터를 알아야 데이터를 분석할 수 있습니다.
- 우선 분석할 데이터가 어떤 형태의 데이터인지 확인합니다.

**[참고] 열 정보**

- survived: 생존 여부
- pclass: 승객의 클래스
- sex: 성별
- sibsp: 형제 혹은 자매의 수
- parch: 부모 혹은 자녀의 수
- fare: 탑승 요금
- embarked: 출발지의 고유 이니셜
- class: 선실의 클래스
- who: male, female을 man, woman으로 표기
- adult_male: 성인 남성 인지 아닌지 여부
- deck: 선실 고유 번호의 가장 앞자리 알파벳(A ~ G)
- embark_town: 출발지
- alive: 생존 여부 데이터를 yes 혹은 no로 표기
- alone: 가족이 없는 경우 True

**1) 상위/하위 데이터 확인**

- head(), tail() 메소드로 상/하위 데이터를 확인합니다.

In [ ]:
# 상위 5개 행 확인

In [ ]:
# 하위 5개 행 확인

**2) 열 데이터 개수, NaN 값 여부 확인**

- info() 메소드로 각 열의 값 개수, NaN 값 포함 여부를 확인합니다.
- NaN값이 포함되어 있으면 결측치에 대한 해결(제거 또는 변경)이 필요합니다.

In [ ]:
# 열 정보, NaN 값 포함 여부 확인

**3) 기초 통계 정보 확인**

- describe() 메소드를 사용해 기초 통계 정보를 확인합니다.

In [ ]:
# 기초 통계 정보 확인

**4) 질문**

- titanic 데이터가 분석하기에 적절한 형태인가요?
- titanic 데이터에 대해 어떤 분석이 의미가 있을까요?
- 분석에 걸림돌이 될 만한 것은 무엇일까요?
- 분석을 위해 우선 어떤 처리를 해야 할까요?

## 3. 데이터 전처리

- NaN 값이 포함된 열이 있으면 제거하거나 다른 값으로 채워야 합니다.
- 중복된 데이터는 정확한 분석을 방해하므로 제거해야 합니다.
- 기타 데이터에 방해가 되는 요소를 전처리 과정에서 제거합니다.

**1) 결측치 처리**

- titanic 데이터 셋에는 NaN 값을 갖는 열이 많습니다.
- 분석에 의미가 없는 열은 제거하고, 필요하면 다른 값으로 체워야 합니다.
- 다음과 같이 막대 그래프로 결측치 상황을 확인할 수 있습니다.

In [ ]:
# 막대 그래프로 결측치 확인
titanic.count().plot(kind='bar')
plt.show()

- 또는 다음과 같이 isnull().sum()을 확인해도 됩니다.

In [ ]:
# 결측치 확인
titanic.isnull().sum()

**deck열 삭제**

- deck열은 결측치 비중이 너무 높으므로 삭제합니다.

In [ ]:
# deck열 삭제

In [ ]:
# 막대 그래프로 결측치 확인
titanic.count().plot(kind='bar')
plt.show()

**age열 NaN 값인 행 삭제**

- age열은 분석에 중요한 의미가 있으니 열을 제거하지 말고 NaN 값인 행을 제거합니다.

In [ ]:
# age 열 NaN 값인 열 삭제

In [ ]:
# 막대 그래프로 결측치 확인
titanic.count().plot(kind='bar')
plt.show()

**3) 불필요한 열 제거**

- 분석에 불필요한 열은 과감히 제거합니다.
- 본 실습에서는 survived, pclass, sex, age, fare 열만 사용하기로 합니다.

In [ ]:
# survived, pclass, sex, age, fare 열만 사용


# 확인
titanic.head()

## 4. 데이터 추가

- age 열의 값을 기준으로 10대, 20대, 30대...로 구분하는 열을 추가합니다.
- age 열의 값을 10으로 나눈 몫에 다시 10을 곱하면 되며, 정수형이 되게 합니다.
- 추가되는 열 이름은 **age2**로 합니다.

In [ ]:
# age2 열 추가


# 확인
titanic.head()

## 5. [옵션] 데이터 시각화

- 이제 전처리가 진행된 데이터를 시각화해서 분석합니다.

**1) 남녀별 생존자 수 비교**

- groupby() 메소드를 사용해 남녀별로 생존자 수를 집계하여 **bar chart**로 비교해 봅니다.
- 생존자 수는 survived 열의 합으로 확인할 수 있습니다.

In [ ]:
# 남녀별 생존자수 비교
titanic.groupby(by='sex')['survived'].sum().plot(kind='bar')
plt.show()

**2) 클래스별 생존자 수 비교**

- groupby() 메소드를 사용해 클래스별로 생존자 수를 집계해 **bar chart**로 비교해 봅니다.

In [ ]:
# 클래스별 생존자수 비교
titanic.groupby(by='pclass')['survived'].sum().plot(kind='bar')
plt.show()

**3) 클래스별 운임 비교**

- groupby() 메소드를 사용해 클래스별로 운임 합을 집계해 **bar chart**로 비교해 봅니다.

In [ ]:
# 클래스 별 생존자수 비교
titanic.groupby(by='pclass')['fare'].sum().plot(kind='bar')
plt.show()

**4) 연령별 생존자 수 비교**

- groupby() 메소드를 사용해 연령별 생존자 수를 집계해 **bar chart**로 비교해 봅니다.
- 앞에서 새로 추가한 age2 열을 사용합니다.

In [ ]:
# 연령별 생존자수 비교
titanic.groupby(by=['age2'])['survived'].sum().plot(kind='bar')
plt.show()

**5) 연령별 남녀별 생존자 수 비교**

- 연령별 남녀 생존자 수가 궁금합니다.
- 남자 연령별 생존자 수, 여자 연령별 생존자 수를 구해 합쳐봅니다.
- 우선 남자 연령별 생존자 수를 갖는 **age_male** 데이터프레임을 만듭니다.

In [ ]:
# 남자 연령별 생존자 수
age_male = titanic[titanic['sex']=='male'].groupby(by=['age2'], as_index=False)['survived'].sum()

# 확인
age_male.head()

- 여자 생존자 수를 갖는 **age_female** 데이터프레임을 만듭니다.

In [ ]:
# 여자 연령별 생존자 수
age_female = titanic[titanic['sex']=='female'].groupby(by=['age2'], as_index=False)['survived'].sum()

# 확인
age_female.head()

- 두 데이터프레임의 survived 열 이름이 같으니 구분되게 male_survived, female_survived로 각각 바꿉니다.

In [ ]:
# 열 이름 변경
age_male.rename(columns={'survived': 'male_survived'}, inplace=True)
age_female.rename(columns={'survived': 'female_survived'}, inplace=True)

- 두 데이터프레임을 concat() 함수로 연결해 **age_mf** 데이터프레임을 만듭니다.

In [ ]:
# concat() 함수로 연결
age_mf = pd.concat([age_male, age_female['female_survived']], axis=1)

# 확인
age_mf

- 이제 bar chart로 분석을 하면 됩니다.

In [ ]:
# 연령별 남녀별 생존자수 비교
age_mf.plot(kind='bar', x='age2', y=['male_survived', 'female_survived'])
plt.show()

- 누적 막대그래프로 표시하면 의미가 있을 것 같습니다.

In [ ]:
# 누적 막대그래프 표시
age_mf.plot(kind='bar', x='age2', y=['male_survived', 'female_survived'], stacked=True)
plt.show()

## 6. 의미 찾기

- 데이터 분석을 제대로 하려면 제대로된 데이터가 있어야 합니다.
- 다양한 전처리 방법을 사용해 분석이 용이한 형태로 데이터를 변경해야 합니다.
- 기존 데이터를 활용해 새로운 데이터를 만들 수 있어야 합니다.
- 원본 데이터를 대상으로 집계한 후 그 결과를 분석하는 것도 의미가 있습니다.

## <center>수고하셨습니다.</center>
<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/end.png' width=200/></center>