<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/><center>

<center>- Numpy의 모든 것을 배우지 않습니다. 데이터 전처리에 대한 부분만 학습 대상이 됩니다 -</center>

# 학습 목표

- 배열 사이의 기본적인 연산을 수행할 수 있습니다.
- 전치 행렬의 의미를 이해합니다.
- Shuffling과 Samplig 개념을 이해하고 활용할 수 있습니다.
- 여러 배열을 하나로 연결할 수 있습니다.

# 3. 배열 연산

- 배열 사이의 더하기, 빼기, 곱하기, 나누기 등은 이해하기 쉽습니다.
- 하지만 행렬 곱, 행렬 합등의 연산은 악갼의 수학적 지식이 필요합니다.
- 행렬 연산은 선형 대수를 위한 것이므로 설명을 생략합니다.

In [0]:
# 라이브러리 불러오기
import numpy as np

## 3.1. 기본 연산

- 리스트와는 달리 각 요소 사이의 기본 연산이 가능합니다.
- 이런 연산이 목적으로 배열을 사용하기도 합니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/array_operator.png' width=500 align="left"/>

In [0]:
# 두 개의 2 x 2 형태의 2차원 배열 만들기
x = np.array([[1, 2], [3, 4]], dtype = np.int32)
y = np.array([[5, 6], [7, 8]], dtype = np.int32)

# 확인
print(x)
print(y)

**1) 배열 더하기**

- \+ 또는 **dp.add()** 함수를 사용합니다.

In [0]:
# 배열 더하기
print(x + y)

# 또는
print(np.add(x, y))

**2) 배열 뺴기**

- \- 또는 **np.subtract()** 함수를 사용합니다.

In [0]:
# 배열 빼기
print(x - y)

# 또는
print(np.subtract(x, y))

**3) 배열 곱하기**

- \* 또는 **np.multiply()** 함수를 사용합니다.

In [0]:
# 배열 곱하기
print(x * y)

# 또는
print(np.multiply(x, y))

**4) 배열 나누기**

- \/ 또는 **np.divide()** 함수를 사용합니다.

In [0]:
# 배열 나누기
print(x / y)

# 또는
print(np.divide(x, y))

**5) 배열 제곱**

- \** 또는 **np.power()** 함수를 사용합니다.

In [0]:
# 배열 y 제곱
print(x ** y)

# 또는
print(np.power(x, y))

In [0]:
# 배열 제곱
print(x ** 2)

In [0]:
# 배열 제곱
print(np.power(x, 2))

**6) 배열 제곱근**

- **np.sqrt()** 함수를 사용합니다.

In [0]:
# 배열 제곱근
print(np.sqrt(x))

## 3.2. 리스트와 배열이 다른 점

- 리스트의 더하기 곱하기 연산은 배열의 더하기 곱하기 연산과 완전히 다릅니다.
- 예를 들어 리스트는 나눌 수 없지만 배열은 나눌 수 있습니다.

In [0]:
# 리스트와 배열 만들기
python_list = [1, 2, 3]
numpy_array = np.array([1, 2, 3])

In [0]:
# 리스트 연산
print(python_list + python_list)
print(python_list * 3)

In [0]:
# 배열 연산
print(numpy_array + numpy_array)
print(numpy_array * 3)

In [0]:
# 리스트는 나누거나 제곱할 수 없음
height = [1.73, 1.68, 1.71, 1.89, 1.79]
weight = [65.4, 59.2, 63.6, 88.4, 68.7]

print(weight / height ** 2)
#TypeError: unsupported operand type(s) for **: 'list' and 'int'

In [0]:
# 배열은 요소끼리 나누거나 제곱할 수 있음
np_height = np.array(height)
np_weight = np.array(weight)

print(np_weight / np_height ** 2)

## 3.3. 전치행렬

- **행과 열을 교환**하여 얻는 행렬을 전치행렬입니다.
- **주 대각선**을 축으로 하는 **반사 대칭**을 가하여 얻는 행렬입니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/matrix4.png' width=600 align="left"/>

In [0]:
# 1 x 4 형태의 2차원 배열 만들기
a = np.array([1, 2, 3, 4], ndmin = 2)

# 확인
print(a.shape)
print(a)

In [0]:
# 전치행렬 
print(a.T)

In [0]:
# 2 x 2 형태의 2차원 배열 만들기 
a = np.array([[1, 2], 
              [3, 4]])

# 확인
print(a)

In [0]:
# 전치행렬
print(a.T)

In [0]:
# 3 x 2 형태의 2차원 배열 만들기 
a = np.array([[1, 2], 
              [3, 4],
              [5, 6]])

# 확인
print(a)

In [0]:
# 전치행렬
print(a.T)

In [0]:
# 1차원 배열은 전치행렬이 의미가 없음
a = np.array([1, 2 ,3])
print(a)

In [0]:
# 전치행렬?
print(a.T)

## 3.4. Shuffle

- **np.random.shuffle()** 함수를 사용해 배열을 섞어 임의 순서의 배열을 얻을 수 있습니다.

**1) 1차원 배열 섞기**

- 우선 1차원 배열을 섞어봅시다.

In [0]:
# 1차원 배열 만들기
a = np.array([1, 2, 3, 4, 5])

In [0]:
# 배열 섞기
np.random.shuffle(a)
print(a)

**2) 2차원 배열 섞기**

- 모든 요소를 섞지는 못합니다.
- 단지 행 기준으로 섞어주며, 행 안의 요소는 섞이지 않습니다.

In [0]:
# 2차원 배열 만들기
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [0]:
# 배열 섞기
np.random.shuffle(a)
print(a)

**3) csv 파일 읽어와 섞기**

- 당연히 파일에서 데이터를 읽어와 만든 배열도 섞을 수 있습니다.

In [0]:
# 파일에서 데이터 가져오기
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
data = np.genfromtxt(file_path, delimiter=",", names=True)

# 10개 확인
print(data[0:10])

In [0]:
# Shuffle (이 셀을 Ctrl + Enter로 반복실행)
np.random.shuffle(data)

# 10개 확인
print(data[0:10])

**[참고] 리스트 섞기**

- 배열 뿐만이 아니라 리스트도 섞을 수 있습니다.

In [0]:
# 리스트 만들기
a = [1, 2, 3, 4, 5]

In [0]:
# 리스트 섞기
np.random.shuffle(a)
print(a)

**[참고] 두 배열 같은 순서로 섞기**

- 섞기는 임의의 순서로 이루어지므로 같은 요소를 갖는 두 배열의 섞인 결과가 달라집니다.
- 만일 두 배열을 갖는 순서로 섞으려고 한다면 약간의 트릭이 필요합니다.
- **np.arrange([시작,] 끝 [,스텝])** 형태로 임의의 정수를 갖는 1차원 배열을 만들 수 있습니다.

In [2]:
# np.arrange() 사용 예
a = np.arange(1, 10)
print(a)

TypeError: ignored

In [0]:
# 두 개의 배열 만들기
a = np.arange(1, 11)
b = np.arange(11, 21)
print(a)
print(b)

In [0]:
# 배열 형태 확인
print(a.shape)
print(a.shape[0])

- 두 배열의 개수만큼 정수를 갖는 배열을 만들고 이 배열을 섞어줍니다.

In [0]:
# 요소 개수만큼 정수를 갖는 배열 만들기
s = np.arange(a.shape[0])
print(s)

In [0]:
# 배열 섞기
np.random.shuffle(s)
print(s)

- 그리고 섞인 배열의 정수로 기존 두 배열을 조회하면 같은 순서로 섞인 결과가 됩니다.

In [0]:
# 기존 배열 섞기
a = a[s]
b = b[s]
print(a)
print(b)

## 3.5. Sampling

- **np.random.choice()** 함수로 지정한 개수의 임의의 요소를 갖는 배열을 만들 수 있습니다.
- **np.random.choice(어디서, 얼마나, 어떻게)** 형식을 기억하세요.

In [0]:
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
data = np.genfromtxt(file_path, delimiter=",", names=True)
data.shape

In [0]:
# 임의의 4개 요소 추출
print(np.random.choice(data, 4))

**[참고] 복원 추출과 비복원 추출**

- 복원 추출: 추출 된 요소을 다시 배열에 추가한 후 추출합니다.(기본값)
- 비복원 추출: 기존 배열 요소에서만 추출합니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/random_choice.png' width=500 align="left"/>

**1) 복원 추출**

- **np.arange(10)**는 0부터 9까지 정수를 갖는 배열을 만듭니다.
- np.arange() 함수는 유용하게 사용니 꼭 기억하세요.

In [0]:
a = np.arange(10)
print(a)

In [0]:
print(np.random.choice(a, 4))

**2) 비복원 추출**

In [0]:
# 비복원추출
print(np.random.choice(a, 4, replace=False))

In [0]:
# 위 코드는 다음과 같음
print(np.random.choice(10, 4, replace=False))

## 3.6. Split

- 하나의 배열을 여러 배열로 나눌 수 있습니다.
- 머신러닝에서 하나의 데이터 셋에서 학습용, 검증용, 평가용 데이터로 분리할 때 많이 사용합니다.

In [0]:
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
data = np.genfromtxt(file_path, delimiter=",", names=True)
data.shape

In [0]:
# 100개씩 분할(Split)
s1, s2, s3, s4 = data[:100], data[100:200], data[200:300], data[300:]

In [0]:
# 갯수 확인
print(len(s1))
print(len(s2))
print(len(s3))
print(len(s4))

In [0]:
# 내용 확인
print(s1)

## 3.7. 배열 연결

- **np.r_[...]**를 사용해 여러 배열을 행으로 연결할 수 있습니다.
- **np.c_[...]**를 사용해 여러 배열을 열로 연결할 수 있습니다.

**1) 배열 만들기**

In [5]:
a1 = np.array(np.random.randint(1, 10, (3, )))
print(a1)

[7 8 7]

In [0]:
a2 = np.array(np.random.randint(1, 10, (3, 4)))
print(a2)

In [0]:
a3 = np.array(np.random.randint(1, 10, (3, 4)))
print(a3)

**2) 행에 연결**

In [0]:
print(np.r_[a1, a2])

In [0]:
print(np.r_[a1, a2, a3])

**3) 열에 연결**

In [0]:
print(np.c_[a1, a2])

In [0]:
print(np.c_[a1, a2, a3])

## <center>수고하셨습니다.</center>
<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/end.png' width=200/></center>